html body div.md-sidebar.md-sidebar--secondary[data-md-type="toc"] {
  display: none !important;
  width: 0 !important;
}

html body .md-nav--secondary {
  display: none !important;
}

html body .md-main__inner {
  margin-right: 0 !important;
}

html body .md-content {
  max-width: 70rem;
}
